[MESSAGES CONTROL]
disable=C0301,C0103,R0801,R0914,W0621,W1514,E1111

[NAMING]
variable-rgx=[a-z_][a-z0-9_]{0,30}$
const-rgx=[A-Z_][A-Z0-9_]{0,30}$
method-rgx=[a-z_][a-z0-9_]{0,30}$
function-rgx=[a-z_][a-z0-9_]{0,30}$
class-rgx=[A-Z_][a-zA-Z0-9]+$
module-rgx=[a-z_][a-z0-9_]{0,30}$=

[TYPECHECK]
ignored-modules=sqlalchemy,flask,flask_sqlalchemy,flask_restful,flask_jwt_extended,flask_jwt

[FORMAT]
max-line-length=120
ignore=CVS
